*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #56c7c9, #071f4e);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    flex-direction: column;
}

h1{
    color: #fff;
}

.container{
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .title{
    text-align: center;
}
.container .title span{
    color: #fff;
}

.status-action{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f2ebd3;
    font-size: 30px;
}
.status{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.status-action .status span{
    color: #f2ebd3;
}
.status-action .reset{
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.status-action .reset:hover{
    color: black;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #fff;
    grid-gap: 10px;
    margin-top: 0.5rem;
    border-radius: 7px;
    padding: 10px;
    color: #F88379;
}
.game-grid .game-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    cursor: pointer;
    background-color: #00acc1;
    border-radius: 7px;
}
.game-grid .x::after{
    content: "×";
    font-size: 13rem;
    height: 15rem;
    cursor: default;
}
.game-grid .o::after{
    content: "○";
    height: 16rem;
    font-size: 13rem;
    color: #f2ebd3;
    cursor: default;
}
.game-grid .won{
    color: red;
}

@media only screen and (max-width: 1024px){
    .game-grid{
        grid-gap: 10px;
        margin-top: 25px;
    }
    .game-grid .game-cell{
        height: 125px;
        width: 125px;
    }
    .game-grid .x::after{
        font-size: 9rem;
        height: 10rem;
    }
    .game-grid .o::after{
        height: 13rem;
        font-size: 10rem;
    }
}

@media only screen and (max-width: 540px){
    .container{
        margin: 20px;
        padding: 25px;
    }
    .game-grid .game-cell{
        height: 85px;
        width: 85px;
    }
    .game-grid .x::after{
        font-size: 7rem;
        height: 8rem;
    }
    .game-grid .o::after{
        font-size: 8rem;
        height: 10rem;
    }
}

@media only screen and (max-width: 360px){
    .container{
        margin: 20px;
        padding: 10px;
    }
    .game-grid .game-cell{
        height: 70px;
        width: 70px;
    }
    .game-grid .x::after{
        font-size: 7rem;
        height: 8rem;
    }
    .game-grid .o::after{
        font-size: 8rem;
        height: 10rem;
    }
}